*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Calibri;
}

body{
  padding-bottom: 100px;
}

body{
  background-image: url(../images/v1016-c-08.jpg);
}

#preloader{
  background: #080129 url(../images/loader1.gif) no-repeat center center ;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.navbar{
  background-color: rgb(6, 6, 131);
}

.nav-icon{
  width: 25px;
  height: 25px;
}

.nav-item{
  padding: 0 20px 0 20px;
}
.nav-bar{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
.image{
 width: auto;
 height: auto;
 padding: 40px;
}
.discription{
  font-size: 20px;
}

.image img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit:cover;
}
.services-card{
  width: 250px;
}

.services-card:hover{
  transform: scale(1.025);
}

.social-icons{
  height: 30px;
  cursor: pointer;
}

a{
  text-decoration: none;
}

.skils-card{
  width:40%;
  height: auto;
  border-radius: 20px;
  margin: 10px;
}
.skill{
  border-radius: 10px;
}
.company-logo{
  width: 75%;
  border-radius: 10px;
}
.experience-details{
  border-radius: 20px;
}
.ex-circle{
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.experience-card{
  width: 500px;
}

.project-images{
  width: 100%;
  border-radius: 10px;
}

.project-container{
  height: auto;
  border-radius: 20px;
  width: 350px;
  background-color: rgb(22, 20, 20);
}

.project-person{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right:-10px;
}

.contact input{
  height: 50px;
  border-radius: 10px;
  background-color:    rgb(39, 37, 53);
  margin-bottom: 20px;
}
.contact textarea{
  border-radius: 10px;
  background-color:   rgb(39, 37, 53);
  margin-bottom: 20px;
}

.contact{
  background-color: rgb(64, 61, 85);
  width: 80%;
  border-radius: 20px;
  padding:auto;
}

.skill img{
  width: 30px;
}

.education-card{
  width: 500px;
}

.dynamic-text-symbol { 
  font-weight: bold; 
  animation: blink 1s step-end infinite; 
}

@keyframes blink {
  from, to {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

@media only screen and (max-width: 600px) {
  .main-info {
   flex-direction: column-reverse;
  }
  .discription{
    text-align: center;
    font-size: 18px;
  }
  .skils-card{
    width:80%;
  }
  .main-info-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .image{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
  }
  .main-info-list h1, .main-info-list h2 {
    font-size: 32px;
  }

  .dynamic-text-container{
    padding: 20px 0 20px 0;
  }
  .image img{
    width: 350px;
    height: 350px;
  }
  #preloader{
    background-size: 50%;
  }
}